@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    box-sizing: border-box;
}
.collapsible-menu-container {
    margin: 20px;
  }
  
  /* .collapsible-menu-button {
    background-color: #e2e8f0;
    color: #4a5568;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
   */
  .collapsible-menu {
    transform: translateY(0);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .collapsible-menu.open {
    transform: translateY(400px);
  }
    
  .collapsible-menu-link {
    display: block;
    padding: 10px 20px;
    color: #4a5568;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }

  .ov:hover{
    color: transparent;
  }
  .ant-menu-item:hover {
    background-color: #f0f0f0;
    color: #1890ff;
  }
  


  :where(.css-dev-only-do-not-override-1me4733).ant-dropdown .ant-dropdown-menu, :where(.css-dev-only-do-not-override-1me4733).ant-dropdown-menu-submenu .ant-dropdown-menu {
    @apply text-white  bg-black space-y-5

}

.overlayClassName{
  @apply p-[20px] bg-black 
}


:where(.css-dev-only-do-not-override-1me4733).ant-menu-inline.ant-menu-root .ant-menu-item >*, :where(.css-dev-only-do-not-override-1me4733).ant-menu-inline.ant-menu-root .ant-menu-submenu-title >* {
@apply hover:text-white
}
:where(.css-dev-only-do-not-override-1me4733).ant-menu .ant-menu-submenu-arrow::before, :where(.css-dev-only-do-not-override-1me4733).ant-menu .ant-menu-submenu-arrow::after {
  position: absolute;
  width: 6px;
  height: 1.5px;
  border-radius: 6px;
  transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  content: "";
  @apply bg-white text-white
}


.menu {
  height: 0;
  overflow: hidden;
}

.menu.open {
  height: 300px;
  overflow: auto;
}